{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- ================ start banner Area ================= -->
  <section class="home-banner-area">
    <div class="container">
      <div class="row justify-content-center fullscreen align-items-center">
        <div class="col-lg-5 col-md-8 home-banner-left">
          <h1 class="text-white">
            Apprenez à reconnaître les feuilles des différents arbres
          </h1>
        </div>
        <div class="offset-lg-2 col-lg-5 col-md-12 home-banner-right">
          <img class="img-fluid" src="{% static 'img/header-img.png' %}" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End banner Area ================= -->

  <!-- ================ Start Feature Area ================= -->
  <section class="feature-area">
    <div class="container-fluid">
      <div class="feature-inner row">
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex">
            <i class="ti-book"></i>
            <div class="ml-20">
              <h4>Fiches récapitulatives</h4>
              <p>
                Révisez grâce aux fiches récapitulatives qui associent les images de feuilles
                au nom de leur arbre.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex">
            <i class="ti-mouse-alt"></i>
            <div class="ml-20">
              <h4>QCM</h4>
              <p>
                Testez vos connaissances en feuilles d'abres grâce à notre QCM en ligne.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End Feature Area ================= -->
{% endblock %}