{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ================ start banner Area ================= -->
<section class="home-banner-area">
  <div class="row justify-content-center fullscreen align-items-center">
    <div class="d-flex flex-column bd-highlight mb-3">
        <iframe class="qcm" src="https://leafs.vpndns.net/wims/wims.cgi?module=adm/raw&job=lightpopup&emod=devel/admin/test~Leafs~Leafs.fr&parm=cmd=new;exo=leafs&option=noabout" height="700" width="800"></iframe>
    </div>
  </div>
</section>
<!-- ================ End banner Area ================= -->
{% endblock %}